/javaEscritorio/nbproject/private/
/javaEscritorio/build/
/web/nbproject/private/
/web/build/
/javaEscritorio/dist/
/ejemploEE/nbproject/private/
/ejemploEE/ejemploEE-war/nbproject/private/
/ejemploEE/ejemploEE-ejb/nbproject/private/